@font-face {
  font-family: BebasNeue;
  src: url("BebasNeue.otf");
  font-weight: normal;
}

@font-face {
  font-family: BebasNeue;
  src: url("BebasNeue\ Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: BebasNeue;
  src: url("BebasNeue\ Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: BebasNeue;
  src: url("BebasNeue\ Thin.otf");
  font-weight: lighter;
}